{% load static %}
<!DOCTYPE html>
<style>
    #map_canvas {
        height: 500px;

    }

</style>
<html>
<head>
    <meta charset="utf-8">
    <title>GeoLocation</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body onload="initialize()">
<div class="">
</div>
<br>
<div id="map_canvas">
</div>
<script type="text/javascript" scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl3bzTlhOjdjT3IpjhxRoKwqEalbWhFfQ"></script>
</body>
</html>
<script>
    var directionDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var start = document.getElementById('start').value;
    var end = document.getElementById('end').value;
    var submit = document.getElementById('submit');

    function route() {
        console.log(end);
        console.log(start);
    }

    function initialize() {
        directionDisplay = new google.maps.DirectionsRenderer();
        var center = new google.maps.LatLng(25.2231, 55.3061);
        var myOptions = {
            zoom: 10,
            mapTypeId: "roadmap",
            center: center
        }
        map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
        directionDisplay.setMap(map);
        calcRoute();
    }

    function calcRoute(coordinates) {
        var test = JSON.parse("[" + coordinates + "]")
        var last_point = test[0].slice(-1);
        var waypts = [];
        for (var i = 0; i < test[0].length - 1; i++) {
            waypts.push(
                {
                    location: new google.maps.LatLng(test[0][i][0], test[0][i][1]),
                    stopover: true
                }
            )
        }
        console.log(waypts)
        console.log({{ warehouse_location }}[1], {{ warehouse_location }}[0])
        start = new google.maps.LatLng({{ warehouse_location }}[1], {{ warehouse_location }}[0]);
        end = new google.maps.LatLng(last_point[0][0], last_point[0][1]);
        var request = {
            origin: start,
            destination: end,
            waypoints: waypts,
            optimizeWaypoints: true,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionDisplay.setDirections(response);
                var route = response.routes[0];
            }
        })
    }

</script>