.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

#headerTopArea {
    overflow-x: hidden;
    padding: 10px 0px 15px 0px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

#headerTopArea .logoarea {}

#headerTopArea .logoarea a {}

#headerTopArea .logoarea a img {
    height: 25px;
}

#headerTopArea .middle {}

#headerTopArea .middle h4 {
    font-weight: 600;
    font-size: 27px;
    margin: 0;
}

#headerTopArea .rightDot {}

#headerTopArea .rightDot ul {
    margin: 0;
}

#headerTopArea .rightDot ul li {
    display: inline-block;
    list-style: none;
}

#headerTopArea .rightDot ul li i {
    font-size: 12px;
}

#resetPasswordMainArea {
    padding: 150px 0px;
    background: #fff;
}

#resetPasswordMainArea .rightFormResetPass {}

#resetPasswordMainArea .rightFormResetPass h4 {
    margin: 0;
    font-weight: 500;
    color: #333333;
}

#resetPasswordMainArea .rightFormResetPass p {
    color: #333333;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    margin-top: 20px;
}

#resetPasswordMainArea .rightFormResetPass .formBox {
    margin-top: 25px;
}

#resetPasswordMainArea .rightFormResetPass .formBox input {
    width: 75%;
    display: block;
    border: 1px solid #ACACAC;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
}

#resetPasswordMainArea .rightFormResetPass .formBox a {
    display: inline-block;
    margin-top: 14px;
    font-size: 14px;
    color: #ACACAC;
    text-decoration: underline;
}

#resetPasswordMainArea .rightFormResetPass .formBox a:hover {
    color: #3CD17F;
}

#resetPasswordMainArea .rightFormResetPass .formBox button {
    display: block;
    margin-top: 18px;
    background: #3CD17F;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    padding: 10px 50px;
    border-radius: 30px;
    outline: none;
}

#resetPasswordMainArea .rightFormResetPass .formBox button:hover {
    background: #1fa25a;
}

/*-- password reset link --*/
#passwordResetLink {}

#passwordResetLink .passwordResetLinkContent {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#passwordResetLink .passwordResetLinkContent h4 {
    font-weight: 400;
    color: #333333;
    font-size: 45px;
    line-height: 50px;
}

#passwordResetLink .passwordResetLinkContent p {
    font-size: 16px;
    color: #ACACAC;
    margin-top: 20px;
}

#passwordResetLink .passwordResetLinkContent a {
    display: inline-block;
    background: #3CD17F;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 13px 50px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.4s;
}

#passwordResetLink .passwordResetLinkContent a:hover {
    background: #1fa25a;
}

/*-- start set new password area --*/
#setNewPasswordArea{
    padding: 150px 0px;
}
#setNewPasswordArea .leftImage{}
#setNewPasswordArea .leftImage img{
    width: 88%;
}
#setNewPasswordArea .rightForm{
    padding-left: 50px;
}
#setNewPasswordArea .rightForm .inputBox{
    margin-bottom: 10px;
}
#setNewPasswordArea .rightForm .inputBox label{
    display: block;
    font-size: 22px;
    color: #333333;
}
#setNewPasswordArea .rightForm .inputBox .inputFild{
    position: relative;
    width: 80%;
}
#setNewPasswordArea .rightForm .inputBox .inputFild input{
    width: 100%;
    border: 1px solid #ddd;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 4px;
    transition: 0.4s;
}
#setNewPasswordArea .rightForm .inputBox .inputFild input:focus{
    background: #F4FCF7;
}
#setNewPasswordArea .rightForm .inputBox .inputFild span{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-48%);
    font-size: 16px;
    cursor: pointer;
    color: #ACACAC;
    transition: 0.4s;
}
#setNewPasswordArea .rightForm .inputBox .inputFild span:hover{
    color: #000;
}
#setNewPasswordArea .rightForm .inputBox .inputFild span.active{
    color: #000;
}
#setNewPasswordArea .rightForm .inputBox span i{}

#setNewPasswordArea .rightForm .savePasswordBtn{
    margin-top: 40px;
}
#setNewPasswordArea .rightForm .savePasswordBtn button{
    background: #3CD17F;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 11px 40px;
    border-radius: 30px;
    transition: 0.4s;
    outline: none;
}

#setNewPasswordArea .rightForm .savePasswordBtn button:hover{
    background: #1fa25a;
}





