<div class="reconcilations">
  <div class="tr">
    <div class="user">
      <figure><img src="static/images/wh-4.png" alt=""></figure>
      <font>Jone Doe</font>
    </div>
    <div class="user-data">
      <div class="col"><span>1</span> Shift</div>
      <div class="col"><span>0</span> Total order price</div>
      <div class="col"><span>0.00</span> credit paid</div>
      <div class="col"><span>0.00</span> cash collected</div>
      <div class="col"><span>0.00</span> tip given</div>
      <div class="col"><span>0.00</span> pre tip</div>
      <div class="col"><span>0.00</span> post tip</div>
      <div class="col"><span>0.00</span> post tip credit</div>
      <div class="col"><span>0.00</span> total distance</div>
    </div>
  </div>
  <div class="tr">
    <div class="user">
      <figure><img src="static/images/wh-4.png" alt=""></figure>
      <font>Jone Doe</font>
    </div>
    <div class="user-data">
      <div class="col"><span>1</span> Shift</div>
      <div class="col"><span>0</span> Total order price</div>
      <div class="col"><span>0.00</span> credit paid</div>
      <div class="col"><span>0.00</span> cash collected</div>
      <div class="col"><span>0.00</span> tip given</div>
      <div class="col"><span>0.00</span> pre tip</div>
      <div class="col"><span>0.00</span> post tip</div>
      <div class="col"><span>0.00</span> post tip credit</div>
      <div class="col"><span>0.00</span> total distance</div>
    </div>
  </div>
</div>
<table class="data-table">
  <tr>
    <th>ID</th>
    <th>Address</th>
    <th>Price</th>
    <th>Delivery Fee</th>
    <th>Credit</th>
    <th>Cash</th>
    <th>Tip</th>
    <th>Pre Tip</th>
    <th>Post Tip Cash</th>
    <th>Post Tip Credit</th>
    <th>Total Distance</th>
    <th>Paid To Driver</th>
  </tr>
  <tr>
    <td>000000</td>
    <td>Address</td>
    <td>-.--</td>
    <td>0</td>
    <td>0</td>
    <td>-.--</td>
    <td>-.--</td>
    <td>-.--</td>
    <td>-.--</td>
    <td>-.--</td>
    <td>N/A</td>
    <td>0</td>
  </tr>

</table>
<div class="reconcilations">
  <div class="tr">
    <div class="user-data">
      <div class="col">Total Price <span>$0.00</span></div>
      <div class="col">Total Credit <span>$0.00</span></div>
      <div class="col">Total Cah <span>$0.00</span></div>
      <div class="col">Total Trip <span>$0.00</span></div>
      <div class="col">Total Pay to Driver<span>$0.00</span></div>
    </div>
  </div>
</div>
</div>