{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reset Password | Logistic</title>
    <link rel="stylesheet" href="{% static 'css/ram.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <!-- this is reset password css link -->
    <link rel="stylesheet" href="{% static 'css/resetpassword.css' %}">
    <!-- this is end reset password css link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% block customcss %}
    {% endblock %}
</head>
<body><!-- start header area -->
<header id="headerTopArea">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="logoarea">
                    <a href="{% url 'dashboard:index' %}">
                        <img class="img-fluid" src="{% static 'assets/logo.svg' %}" alt="Logistic logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="middle text-center">
                    <h4>KMMRCE</h4>
                </div>
            </div>
            {% block crossbutton %}
            {% endblock %}
        </div>
    </div>
</header>
<!-- end header area -->
{% block content %}
{% endblock %}
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
</body>
{% block customscript %}
{% endblock %}
</html>