{% extends 'common/password_reset_base.html' %}
{% block crossbutton %}
    <div class="col-lg-4">
        <div class="rightDot text-right">
            <ul>
                <li><i class="fa fa-circle"></i></li>
                <li><i class="fa fa-circle"></i></li>
                <li><i class="fa fa-circle"></i></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section id="passwordResetLink">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="passwordResetLinkContent text-center">
                        <h4>Password Reset Link <br> has been sent to <br>the email you provided</h4>
                        <p>Please visit your email inbox and click on the link to reset password.</p>

                        <a href="https://www.gmail.com">Check Inbox</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}