{% extends 'common/password_reset_base.html' %}
{% load static %}
{% block crossbutton %}
    <div class="col-lg-4">
        <div class="rightDot text-right">
            <ul>
                <li><i class="fa fa-circle"></i></li>
                <li><i class="fa fa-circle"></i></li>
                <li><i class="fa fa-circle"></i></li>
            </ul>
        </div>
    </div>
{% endblock %}
<!-- start password reset main area -->
{% block content %}
    <section id="resetPasswordMainArea">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="imageResetPassword text-center">
                                <img class="img-fluid" src="{% static 'images/reset-pass.png' %}"
                                     alt="reset password image">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rightFormResetPass">
                                <form method="post">
                                    {% csrf_token %}
                                    <h4>Reset password</h4>
                                    <p>Please enter your email id and we will send you <br> A password reset link.</p>
                                    <div class="formBox">
                                        <input id="id_email" type="email" placeholder="Email Address" name="email">
                                        <button type="submit">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!-- end password reset main area -->
